<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>773433247711-vm8cjerqjpd09f13r87p7rae6i80064o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773433247711-vm8cjerqjpd09f13r87p7rae6i80064o</string>
	<key>API_KEY</key>
	<string>AIzaSyBQmSQFy_hWhRnst6_05wTFYkefBT67xpk</string>
	<key>GCM_SENDER_ID</key>
	<string>773433247711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tapkain.UniSchedule</string>
	<key>PROJECT_ID</key>
	<string>unischedule-1726b</string>
	<key>STORAGE_BUCKET</key>
	<string>unischedule-1726b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773433247711:ios:a4b363f60107e42e</string>
	<key>DATABASE_URL</key>
	<string>https://unischedule-1726b.firebaseio.com</string>
</dict>
</plist>